<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Manager Zarządzania kontaktami</title>
      <!-- dołączamy pliki stylów -->
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  </head>

  <body>
    <!--Header jakgdyby-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Manager Kontaktów</span>
        </div>
      </div>
    </div>
    <!--Główny region który jest wykorzystywany przez aplikacje-->
    <div id="main-region" class="container">
      <p></p>
    </div>
    <!--Region okna dialogowego wyświetlanego przy tworzeniu nowego kontaktu-->
    <div id="dialog-region"></div>
    <!--Szablon listy kontaktów-->
    <script type="text/template" id="contact-list">
      <thead>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>
    <!--Szablon pojedyńczego kontaktu na liście kontaktów-->
    <script type="text/template" id="contact-list-item">
      <td><%= firstName %></td>
      <td><%= lastName %></td>
      <td>
        <a href="#contacts/<%= id %>" class="btn btn-small js-show">
          <i class="icon-eye-open"></i>
          Pokaż
        </a>
        <a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">
          <i class="icon-pencil"></i>
          Edytuj
        </a>
        <button class="btn btn-small js-delete">
          <i class="icon-remove"></i>
          Usuń
        </button>
      </td>
    </script>
    <!--Szablon widoku strony z komunikatem o braku kontaktu-->
    <script type="text/template" id="missing-contact-view">
      <div class="alert alert-error">Taki kontakt nie istnieje!</div>
    </script>
    <!--Szablon widoku pojedyńczego kontatktu do pokazaniu kontaktu-->
    <script type="text/template" id="contact-view">
      <h1><%= firstName %> <%= lastName %></h1>
      <a href="#contacts/<%= id %>/edit" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Edytuj kontakt
      </a>
      <p><strong>Telefon:</strong> <%= phoneNumber %></p>
    </script>
    <!--Szablon widoku ładowania-->
    <script type="text/template" id="loading-view">
      <h1><%= title %></h1>
      <p><%= message %></p>
      <div id="spinner"></div>
    </script>
    <!--Szablon formularza kontaktu-->
    <script type="text/template" id="contact-form">
      <form>
        <div class="control-group">
          <label for="contact-firstName" class="control-label">Imię:</label>
          <input id="contact-firstName" name="firstName" type="text" value="<%= firstName %>"/>
        </div>
        <div class="control-group">
          <label for="contact-lastName" class="control-label">Nazwisko:</label>
          <input id="contact-lastName" name="lastName" type="text" value="<%= lastName %>"/>
        </div>
        <div class="control-group">
          <label for="contact-phoneNumber" class="control-label">Telefon:</label>
          <input id="contact-phoneNumber" name="phoneNumber" type="text" value="<%= phoneNumber %>"/>
        </div>
        <button class="btn js-submit">Zapisz</button>
      </form>
    </script>
    <!--Szablon layout'u listy kontatków-->
    <script type="text/template" id="contact-list-layout">
      <div id="panel-region"></div>
      <div id="contacts-region"></div>
    </script>
    <!--Szablon panela nowego kontaktu-->
    <script type="text/template" id="contact-list-panel">
      <button class="btn btn-primary js-new">Dodaj kontakt</button>
    </script>
    <!--importujemy wymagane biblioteki-->
    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/jquery-ui-1.10.3.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.syphon.js"></script>
    <script src="./assets/js/vendor/backbone.localstorage.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/vendor/spin.js"></script>
    <script src="./assets/js/vendor/spin.jquery.js"></script>

    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/apps/config/storage/localstorage.js"></script>
    <script src="./assets/js/entities/contact.js"></script>
    <script src="./assets/js/common/views.js"></script>

    <script src="./assets/js/apps/contacts/contacts_app.js"></script>
    <script src="./assets/js/apps/contacts/common/views.js"></script>
    <script src="./assets/js/apps/contacts/list/list_view.js"></script>
    <script src="./assets/js/apps/contacts/list/list_controller.js"></script>
    <script src="./assets/js/apps/contacts/show/show_view.js"></script>
    <script src="./assets/js/apps/contacts/show/show_controller.js"></script>
    <script src="./assets/js/apps/contacts/edit/edit_view.js"></script>
    <script src="./assets/js/apps/contacts/edit/edit_controller.js"></script>
    <script src="./assets/js/apps/contacts/new/new_view.js"></script>

    <script type="text/javascript">
      ContactManager.start();
    </script>
  </body>
</html>
